body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 120%;
}

#Midzone {
    position: absolute;
    left: 59%;
    padding: 1em;
    text-align: center;
    margin-top: 1%;
}
#rightzone {
    position: absolute;
    left: 67%;
    padding: 1em;
    text-align: center;
    display: none;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

    .tooltip .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
.button {
    display: inline-block;
    padding: 5px 15px;
    font-size: 120%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-top: 10px;
}

    .button:hover {
        background-color: #3e8e41
    }

    .button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
.dropdownghost {
    display: none;
    margin-right:45%;
}
.Radioelementtype {
    margin-left: 36%;
    margin-right: 33%;
}
#add_modificateur {
    display: none;
}
/*arrow checkbox*/
.checkbox {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.label {
    display: inline-block;
    margin: 4px 1em 0;
}

.arrow-button-label {
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
}

.arrow-button:not(:checked) + label {
    border-top: 1em solid #bb2025;
}

.arrow-button:checked + label {
    border-bottom: 1em solid #a3cd3a;
}
/*more rule*/
#Morerulediv {
    display: none;
}


/*Loading parameter*/

.loader {
    margin-left: 20%;
    margin-top:20%;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}